.home-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-movies, .top-series {
    color: #ccc;
    font-weight: 400;
    padding: 0 0 20px 0;
}

.poster {
    width: 180px;
    height: 270px;
    padding-bottom: 20px;
}