.serieDetails {
    padding: 20px;
}

.seasonsList {
    padding: 20px;
    /* black background opacity 50% */
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}
.season {
    color: #fff;
}

.season.active {
    background-color: #f5f5f5;
    color: #000;
}

.seasonsList li {
    list-style: none;
}
